$footercolor:  #ccccff;
.footer{
    height: 100px;
    background-color: $footercolor;
    display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}