.container__card{
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    width: 90%;  
   padding: 20px;
   gap: 10px;
  
}
.App{
    display: flex;
    flex-direction: column;
    background-color: rgb(232, 219, 251);
}
.Play {
  display: flex;
  justify-content: center;
}