$headercolor: rgb(98, 203, 98);

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    background-color: $headercolor;
    color: rgb(246, 245, 244);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.header__mainmenu{
    display: flex;
    flex-direction: row;
    gap: 15px;
    margin-right: 100px;
    margin-left: 100px;
    font-size: 25px;
    text-transform: uppercase;
}

