.table{
    display: flex;
    flex-direction: column;
    width: 70vw;
    margin-top: 50px;
    border: 3px solid rgb(195, 127, 195);
}

.row-main{
    border: 3px solid rgb(195, 127, 195);  
}
.cell-main{
    border: 3px solid rgb(195, 127, 195);   
}